{% extends "base.html" %}

{% block title %}Fill Form - Student Master{% endblock %}

{% block header %}Fill Student Form{% endblock %}

{% block content %}
<script>
    function validateNumberInput(event) {
        const keyCode = event.keyCode || event.which;
        const keyValue = String.fromCharCode(keyCode);
        if (!/^\d+$/.test(keyValue)) {
            event.preventDefault();
        }
    }
</script>
<form action="/submit_student" method="post" autocomplete="off">
    <div class="form-row">
        <div class="form-group required">
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" required autocomplete="off">
        </div>
        <div class="form-group">
            <label for="middle_name">Middle Name:</label>
            <input type="text" id="middle_name" name="middle_name" autocomplete="off">
        </div>
        <div class="form-group required">
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" required autocomplete="off">
        </div>
    </div>
    
    <div class="form-row">
        <div class="form-group required">
            <label for="stream">Stream:</label>
            <select id="stream" name="stream" required>
                <option value="" disabled selected>-Select-</option>
                <option value="Science">Science</option>
                <option value="Commerce">Commerce</option>
                <option value="Arts">Arts</option>
            </select>
        </div>
        <div class="form-group required">
            <label for="standard">Standard:</label>
            <select id="standard" name="standard" required>
                <option value="" disabled selected>-Select-</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>
        <div class="form-group required">
            <label for="division">Division:</label>
            <select id="division" name="division" required>
                <option value="" disabled selected>-Select-</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
            </select>
        </div>
    </div>

    <div class="form-row">
        
        <div class="form-group required">
            <label for="contact_no">Contact No:</label>
            <input type="tel" id="contact_no" name="contact_no" required pattern="\d{10}" maxlength="10" autocomplete="off" title="Enter a 10-digit contact number" onkeypress="validateNumberInput(event)">
        </div>
        <div class="form-group">
            <label for="email_id">Email ID:</label>
            <input type="email" id="email_id" name="email_id" autocomplete="off">
        </div>
        <div class="form-group required">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required autocomplete="off">
        </div>
    </div>

    <div class="button-container">
        <input type="submit" value="Submit" class="submit-button">
    </div>
</form>
{% endblock %}
